<a href="https://colab.research.google.com/github/OseiasBeu/Data-Science/blob/master/Categorical_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
!pip install category-encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category-encoders
  Downloading category_encoders-2.5.0-py2.py3-none-any.whl (69 kB)
     |████████████████████████████████| 69 kB 8.4 MB/s
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.21.6)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.0.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.7.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (0.5.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.3.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (0.12.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category-encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category-encoders) (2022.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category-encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category-encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category-encoders) (1.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.0

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/OseiasBeu/Data-Science/master/DataSets/Chemical_Dependence_Treatment_Program_Admissions__Beginning_2007.csv")

In [3]:
data.head()

,Year,County of Program Location,Program Category,Service Type,Age Group,Primary Substance Group,Admissions
0,2007,Albany,Crisis,Medical Managed Detoxification,Under 18,Heroin,4
1,2007,Albany,Crisis,Medical Managed Detoxification,55 and Older,Alcohol,192
2,2007,Albany,Crisis,Medical Managed Detoxification,55 and Older,All Others,1
3,2007,Albany,Crisis,Medical Managed Detoxification,55 and Older,Heroin,30
4,2007,Albany,Crisis,Medical Managed Detoxification,55 and Older,Other Opioids,4

In [5]:
data.columns

Index(['Year', 'County of Program Location', 'Program Category',
       'Service Type', 'Age Group', 'Primary Substance Group', 'Admissions'],
      dtype='object')

In [ ]:
data['Year'].value_counts().sort_index()

2007    6549
2008    6519
2009    6540
2010    6655
2011    6623
2012    6700
2013    6619
2014    6507
2015    6506
2016    6428
2017    6817
Name: Year, dtype: int64

In [9]:
df_train = data[data['Year'] <= 2013]
df_val = data[data['Year'] > 2013]

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# One Hot Encoder

In [11]:
df_train.shape

(46212, 7)

In [10]:
from category_encoders.one_hot import OneHotEncoder
enc = OneHotEncoder(cols=['County of Program Location', 'Program Category', 'Service Type', 'Age Group', 'Primary Substance Group'], use_cat_names=True)
enc.fit(df_train)

OneHotEncoder(cols=['County of Program Location', 'Program Category',
                    'Service Type', 'Age Group', 'Primary Substance Group'],
              use_cat_names=True)

In [ ]:
df_train.head()

   Year County of Program Location Program Category                    Service Type Age Group Primary Substance Group  Admissions
0  2009                    Suffolk      Residential           Intensive Residential  Under 18      Cocaine incl Crack           1
1  2008                   Onondaga           Crisis  Med Sup Withdrawal - Inpatient  Under 18                 Alcohol           5
2  2009                   New York       Outpatient    Outpat Chem Depend for Youth  Under 18  Marijuana incl Hashish          18
3  2007                     Orange           Crisis  Medically Monitored Withdrawal  Under 18      Cocaine incl Crack           2
4  2007                    Suffolk       Outpatient       Outpatient Rehabilitation  Under 18                 Alcohol           2

In [ ]:
df_train['County of Program Location'].nunique()

61

In [ ]:
df_train_ohe = enc.transform(df_train)

In [ ]:
df_train.head()

   Year County of Program Location Program Category                    Service Type Age Group Primary Substance Group  Admissions
0  2009                    Suffolk      Residential           Intensive Residential  Under 18      Cocaine incl Crack           1
1  2008                   Onondaga           Crisis  Med Sup Withdrawal - Inpatient  Under 18                 Alcohol           5
2  2009                   New York       Outpatient    Outpat Chem Depend for Youth  Under 18  Marijuana incl Hashish          18
3  2007                     Orange           Crisis  Medically Monitored Withdrawal  Under 18      Cocaine incl Crack           2
4  2007                    Suffolk       Outpatient       Outpatient Rehabilitation  Under 18                 Alcohol           2

In [ ]:
df_train_ohe.head()

   Year  County of Program Location_Suffolk  County of Program Location_Onondaga  ...  Primary Substance Group_All Others  Primary Substance Group_Other Opioids  Admissions
0  2009                                   1                                    0  ...                                   0                                      0           1
1  2008                                   0                                    1  ...                                   0                                      0           5
2  2009                                   0                                    0  ...                                   0                                      0          18
3  2007                                   0                                    0  ...                                   0                                      0           2
4  2007                                   1                                    0  ...                                   0                                      0           2

[5 rows x 102 columns]

In [ ]:
df_val_ohe = enc.transform(df_val)

In [ ]:
df_val_ohe.head()

    Year  County of Program Location_Suffolk  County of Program Location_Onondaga  ...  Primary Substance Group_All Others  Primary Substance Group_Other Opioids  Admissions
12  2015                                   1                                    0  ...                                   0                                      0           1
18  2014                                   0                                    0  ...                                   0                                      0           1
23  2014                                   0                                    0  ...                                   0                                      0           1
39  2015                                   0                                    0  ...                                   0                                      0           1
50  2014                                   0                                    1  ...                                   0                                      0           2

[5 rows x 102 columns]

In [ ]:
X_train = df_train_ohe.drop("Admissions", axis=1)
X_val = df_val_ohe.drop("Admissions", axis=1)

y_train = df_train_ohe["Admissions"]
y_val = df_val_ohe["Admissions"]

In [ ]:
X_train.head()

   Year  County of Program Location_Suffolk  ...  Primary Substance Group_All Others  Primary Substance Group_Other Opioids
0  2009                                   1  ...                                   0                                      0
1  2008                                   0  ...                                   0                                      0
2  2009                                   0  ...                                   0                                      0
3  2007                                   0  ...                                   0                                      0
4  2007                                   1  ...                                   0                                      0

[5 rows x 101 columns]

In [ ]:
mdl = RandomForestRegressor(n_jobs=6, n_estimators=100, random_state=22)
mdl.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=6,
           oob_score=False, random_state=22, verbose=0, warm_start=False)

In [ ]:
p_ohe = mdl.predict(X_val)

In [ ]:
p_ohe[:5]

array([ 3.78,  3.06, 18.99,  3.19, 36.27])

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_val, p_ohe)

14.194968009749408

# Ordinal

In [ ]:
df_train.head()

   Year County of Program Location Program Category                    Service Type Age Group Primary Substance Group  Admissions
0  2009                    Suffolk      Residential           Intensive Residential  Under 18      Cocaine incl Crack           1
1  2008                   Onondaga           Crisis  Med Sup Withdrawal - Inpatient  Under 18                 Alcohol           5
2  2009                   New York       Outpatient    Outpat Chem Depend for Youth  Under 18  Marijuana incl Hashish          18
3  2007                     Orange           Crisis  Medically Monitored Withdrawal  Under 18      Cocaine incl Crack           2
4  2007                    Suffolk       Outpatient       Outpatient Rehabilitation  Under 18                 Alcohol           2

In [ ]:
from category_encoders.ordinal import OrdinalEncoder
enc = OrdinalEncoder(cols=['County of Program Location', 'Program Category', 'Service Type', 'Age Group', 'Primary Substance Group'])
enc.fit(df_train)
df_train_ord = enc.transform(df_train)

In [ ]:
df_train_ord.head()

   Year  County of Program Location  Program Category  Service Type  Age Group  Primary Substance Group  Admissions
0  2009                           1                 1             1          1                        1           1
1  2008                           2                 2             2          1                        2           5
2  2009                           3                 3             3          1                        3          18
3  2007                           4                 2             4          1                        1           2
4  2007                           1                 3             5          1                        2           2

In [ ]:
df_val_ord = enc.transform(df_val)

In [ ]:
df_val_ord.head()

    Year  County of Program Location  Program Category  Service Type  Age Group  Primary Substance Group  Admissions
12  2015                           1                 3           5.0          1                        4           1
18  2014                           4                 2           4.0          1                        3           1
23  2014                          26                 2           2.0          1                        2           1
39  2015                           9                 2           4.0          1                        4           1
50  2014                           2                 2           2.0          1                        4           2

In [ ]:
X_train = df_train_ord.drop("Admissions", axis=1)
X_val = df_val_ord.drop("Admissions", axis=1)

y_train = df_train_ord["Admissions"]
y_val = df_val_ord["Admissions"]

mdl = RandomForestRegressor(n_jobs=6, n_estimators=100, random_state=22)
mdl.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=6,
           oob_score=False, random_state=22, verbose=0, warm_start=False)

In [ ]:
p_ord = mdl.predict(X_val)

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_val, p_ord)

14.790480996267807

# Target Encoding

In [ ]:
df_train.head()

   Year County of Program Location Program Category                    Service Type Age Group Primary Substance Group  Admissions
0  2009                    Suffolk      Residential           Intensive Residential  Under 18      Cocaine incl Crack           1
1  2008                   Onondaga           Crisis  Med Sup Withdrawal - Inpatient  Under 18                 Alcohol           5
2  2009                   New York       Outpatient    Outpat Chem Depend for Youth  Under 18  Marijuana incl Hashish          18
3  2007                     Orange           Crisis  Medically Monitored Withdrawal  Under 18      Cocaine incl Crack           2
4  2007                    Suffolk       Outpatient       Outpatient Rehabilitation  Under 18                 Alcohol           2

In [ ]:
from category_encoders.target_encoder import TargetEncoder
enc = TargetEncoder(cols=['County of Program Location', 'Program Category', 'Service Type', 'Age Group', 'Primary Substance Group'],
                   min_samples_leaf=200)
enc.fit(df_train, df_train['Admissions'])
df_train_trg = enc.transform(df_train)

In [ ]:
df_train_trg.head()

   Year  County of Program Location  Program Category  Service Type  Age Group  Primary Substance Group  Admissions
0  2009                   84.365213         12.540684     26.125614  25.444371                33.193930           1
1  2008                   40.103075         68.736003     63.489893  25.444371                96.876860           5
2  2009                  145.838906         57.269020     45.819998  25.444371                48.186532          18
3  2007                   29.188417         68.736003     42.527388  25.444371                33.193930           2
4  2007                   84.365213         57.269020     14.000000  25.444371                96.876860           2

In [ ]:
df_val_trg = enc.transform(df_val)

In [ ]:
X_train = df_train_trg.drop("Admissions", axis=1)
X_val = df_val_trg.drop("Admissions", axis=1)

y_train = df_train_trg["Admissions"]
y_val = df_val_trg["Admissions"]

mdl = RandomForestRegressor(n_jobs=6, n_estimators=100, random_state=22)
mdl.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=6,
           oob_score=False, random_state=22, verbose=0, warm_start=False)

In [ ]:
p_trg = mdl.predict(X_val)

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_val, p_trg)

14.180224851897199

In [ ]:
?TargetEncoder

Init signature:
TargetEncoder(
    ['verbose=0', 'cols=None', 'drop_invariant=False', 'return_df=True', "handle_missing='value'", "handle_unknown='value'", 'min_samples_leaf=1', 'smoothing=1.0'],
)
Docstring:
Target encoding for categorical features.

For the case of categorical target: features are replaced with a blend of posterior probability of the target
given particular categorical value and the prior probability of the target over all the training data.

For the case of continuous target: features are replaced with a blend of the expected value of the target
given particular categorical value and the expected value of the target over all the training data.

Parameters
----------

verbose: int
    integer indicating verbosity of the output. 0 for none.
cols: list
    a list of columns to encode, if None, all string columns will be encoded.
drop_invariant: bool
    boolean for whether or not to drop columns with 0 variance.
return_df: bool
    boolean for whether to return a pandas DataFrame from transform (otherwise it will be a numpy array).
handle_unknown: str
    options are 'error', 'return_nan' and 'value', defaults to 'value', which will impute the target mean.
min_samples_leaf: int
    minimum samples to take category average into account.
smoothing: float
    smoothing effect to balance categorical average vs prior. Higher value means stronger regularization.
    The value must be strictly bigger than 0.

Example
-------
>>> from category_encoders import *
>>> import pandas as pd
>>> from sklearn.datasets import load_boston
>>> bunch = load_boston()
>>> y = bunch.target
>>> X = pd.DataFrame(bunch.data, columns=bunch.feature_names)
>>> enc = TargetEncoder(cols=['CHAS', 'RAD']).fit(X, y)
>>> numeric_dataset = enc.transform(X)
>>> print(numeric_dataset.info())
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB
None

References
----------

.. [1] A Preprocessing Scheme for High-Cardinality Categorical Attributes in Classification and Prediction Problems, from
https://dl.acm.org/citation.cfm?id=507538
File:           ~/anaconda3/lib/python3.6/site-packages/category_encoders/target_encoder.py
Type:           type
Subclasses: