<a href="https://colab.research.google.com/github/OseiasBeu/Data-Science/blob/master/Classifica%C3%A7%C3%A3oDeCompradoresPorPaginasAcessadas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd 
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
uri='https://raw.githubusercontent.com/OseiasBeu/Data-Science/master/DataSets/tracking.csv'

dados = pd.read_csv(uri)
dados

    home  how_it_works  contact  bought
0      1             1        0       0
1      1             1        0       0
2      1             1        0       0
3      1             1        0       0
4      1             1        0       0
..   ...           ...      ...     ...
94     0             0        1       0
95     1             1        1       1
96     0             0        1       0
97     0             1        0       0
98     0             0        0       0

[99 rows x 4 columns]

In [3]:
dados.shape

(99, 4)

In [4]:
dados.columns

Index(['home', 'how_it_works', 'contact', 'bought'], dtype='object')

In [7]:
dados.rename(columns = {
    "home":"pagina_inicial",
    "how_it_works":"como_funciona",
    "contact":"contato",
    "bought":"compra",
},inplace = True)
dados.head(5)

   pagina_inicial  como_funciona  contato  compra
0               1              1        0       0
1               1              1        0       0
2               1              1        0       0
3               1              1        0       0
4               1              1        0       0

In [8]:
x = dados[['pagina_inicial','como_funciona','contato']]
y = dados['compra']

In [37]:
x_treino = x[:75]
x_teste = x[75:]
y_treino = y[:75]
y_teste = y[75:]
print(f'Quantidade de registros para treino: {x_treino.shape[0]} e para teste: {x_teste.shape[0]}')
# print(f'Quantidade de registro.shape[0]}')
modelo = LinearSVC()
modelo.fit(x_treino, y_treino)
previsoes = modelo.predict(x_teste)
taxa_de_acerto = accuracy_score(y_teste, previsoes)
print("Taxa de acerto %.2f" % (taxa_de_acerto * 100))

Quantidade de registros para treino: 75 e para teste: 24
Taxa de acerto 95.83

In [61]:
SEED = 20
treino_x, teste_x, treino_y, teste_y =train_test_split(
    x, y, 
    random_state=SEED,
    test_size =0.25,
    stratify = y
    )
print(treino_x.shape)
print(teste_x.shape)

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)
taxa_de_acerto = accuracy_score(teste_y, previsoes)
print("Taxa de acerto %.2f" % (taxa_de_acerto * 100))

(74, 3)
(25, 3)
Taxa de acerto 96.00

In [62]:
treino_y.value_counts()

0    49
1    25
Name: compra, dtype: int64

In [63]:
teste_y.value_counts()

0    17
1     8
Name: compra, dtype: int64

In [65]:
49/25

1.96

In [66]:
17/8

2.125